/*......
        all padding classes added here 
............*/
.pb-5px{
	    padding-bottom: 5px;
}
.ptb-20px{
	padding: 20px 0px;
}
.ptb-5px{
	padding: 5px 0px;
}
.ptb-7px{
    padding: 7px 0px; 
}
.pt100px{
	padding-top: 100px;
}
